h1 {
	text-align: center;
}

.nav {
	background-image: url()
	background-repeat: no-repeat;
	background-size: ;
	height: 200px;
	color: #992323;
}

.setup-card {
	background: slategrey;
	background-size: cover;
}

.battlebtn {
	margin-top: 10%;
}

.battle-card {
	background: green;
	background-size: cover;
}
